version: "3.9"

services:
  # ===================================
  # DATABASE SERVICES
  # ===================================
  mongo-db:
    image: mongo:latest
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    ports:
      - "27017:27017"
    volumes:
      - ./data/mongo:/data/db
      - ./config/mongodb/test:/docker-entrypoint-initdb.d # TODO remove test config
    networks:
      - ingestion

  redis-1:
    image: redis:latest
    container_name: redis-1
    command : redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./config/redis/redis.conf:/usr/local/etc/redis/redis.conf
    ports:
      - "6380:6379"
    networks:
      - ingestion
      - staging

  redis-2:
    image: redis:latest
    container_name: redis-2
    command : redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./config/redis/redis.conf:/usr/local/etc/redis/redis.conf
    ports:
      - "6381:6379"
    networks:
      - staging
      - production

  postgres-db:
    image: postgres:16.4
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PGUSER: ${POSTGRES_USER} 
      PGPASSWORD: ${POSTGRES_PASSWORD} 
      PGDATABASE: ${POSTGRES_DB} 
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
      - ./config/postgres/test:/docker-entrypoint-initdb.d # TODO remove test config
    networks:
      - staging

  graph-db:
    image: neo4j:latest
    container_name: neo4j
    environment:
      NEO4J_AUTH: ${NEO4J_AUTH}
    ports:
      - "7474:7474" # UI access
      - "7687:7687" # Bolt protocol
    volumes:
      - ./data/neo4j:/data
      - ./config/neo4j:/docker-entrypoint-initdb.d
    networks:
      - production

  # ===================================
  # INSIGHT TOOLS
  # ===================================
  redis-insight-1:
    image: redis/redisinsight 
    container_name: redis-insight-1
    ports:
      - "5540:5540"
    depends_on:
      - redis-1
    networks:
      - ingestion
      - staging

  redis-insight-2:
    container_name: redis-insight-2
    image: redis/redisinsight 
    ports:
      - "5541:5540" 
    depends_on:
      - redis-2
    networks:
      - staging
      - production
  
  postgres-insight:
    container_name: pgadmin
    image: elestio/pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80" # type localhost:5050 to your browser to access the UI
    depends_on:
      - postgres-db
    networks:
      - staging

  # ===================================
  # WEBAPP
  # ===================================
  streamlit:
    container_name: streamlit-webapp
    build:
      context: ./docker/streamlit
      dockerfile: Dockerfile
    ports:
      - "8501:8501"
    volumes:
      - ./src/streamlit:/app
    depends_on:
      - graph-db
    networks:
      - production


networks:
  ingestion:
  staging:
  production:
