version: "3.9"

services:
  # ===================================
  # DATABASE SERVICES
  # ===================================
  mongo-db:
    image: mongo:latest
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    ports:
      - "${MONGO_DB_PORT}:${MONGO_DB_PORT}"
    volumes:
      - ./data/mongo:/data/db
      - ./config/mongodb:/docker-entrypoint-initdb.d
    networks:
      - ingestion

  redis-1:
    image: redis:latest
    container_name: redis-1
    command : redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./config/redis/redis.conf:/usr/local/etc/redis/redis.conf
    ports:
      - "6380:6379"
    networks:
      - ingestion
      - staging

  postgres-db:
    image: postgres:16.4
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PGUSER: ${POSTGRES_USER} 
      PGPASSWORD: ${POSTGRES_PASSWORD} 
      PGDATABASE: ${POSTGRES_DB} 
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
      - ./config/postgres:/docker-entrypoint-initdb.d
      - ./shared_data:/shared
    networks:
      - staging
      - production

  # ===================================
  # INSIGHT TOOLS
  # ===================================
  redis-insight-1:
    image: redis/redisinsight 
    container_name: redis-insight-1
    ports:
      - "5540:5540"
    depends_on:
      - redis-1
    networks:
      - ingestion
      - staging
  
  postgres-insight:
    container_name: pgadmin
    image: elestio/pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80" # type localhost:5050 to your browser to access the UI
    depends_on:
      - postgres-db
    networks:
      - staging

  # ===================================
  # WEBAPP
  # ===================================
  streamlit:
    container_name: streamlit-webapp
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    build:
      context: .
      dockerfile: docker/streamlit/Dockerfile
    ports:
      - "8501:8501"
    volumes:
      - ./src/streamlit:/app
    depends_on:
      - postgres-db
    networks:
      - production


networks:
  ingestion:
  staging:
  production:
