version: "3.9"

services:
  mongo:
    image: mongo:latest
    container_name: mongo_container
    environment:
      - MONGO_INITDB_DATABASE=stocks_db
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
      - ./mongodb/mongo_init.js:/docker-entrypoint-initdb.d/mongo_init.js:ro
    networks:
      - extraction

  redis_1:
    image: redis:latest
    container_name: redis_1_container
    ports:
      - "6379:6379"
    networks:
      - extraction
      - transformation

  oltp_db:
    image: postgres:latest
    container_name: postgres_oltp_container
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - pgdata_oltp:/var/lib/postgresql/data
    networks:
      - transformation

  redis_2:
    image: redis:latest
    container_name: redis_2_container
    ports:
      - "6380:6379"
    networks:
      - transformation
      - loading

  olap_db:
    image: postgres:latest
    container_name: postgres_olap_container
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: myolapdatabase
    ports:
      - "5433:5432"
    volumes:
      - pgdata_olap:/var/lib/postgresql/data
    networks:
      - loading

  graph_db:
    image: neo4j:latest
    container_name: neo4j_graphdb_container
    environment:
      NEO4J_AUTH: neo4j/test
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4j-data:/data
    networks:
      - loading

  pipeline:
    image: apache/airflow:latest
    container_name: airflow_pipeline_container
    environment:
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    ports:
      - "8080:8080"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
    depends_on:
      - mongo
      - redis_1
      - oltp_db
      - redis_2
      - olap_db
      - graph_db
    networks:
      - extraction
      - transformation
      - loading

volumes:
  mongo-data:
  pgdata_oltp:
  pgdata_olap:
  neo4j-data:

networks:
  extraction:
    driver: bridge
  transformation:
    driver: bridge
  loading:
    driver: bridge